.booking{
    margin: auto;
}
.pick-form{
    background-color:rgb(209, 204, 204);
    padding: 30px;
    border-radius: 10px;
}
.pick-form input{
    width: 100%;
}
.pick-form button{
    width: 100%;
    margin-top: 20px;
}
.map img{
    height: 500px;
    margin-left: 100px;
    width: 700px;
}