.login{
    background-image: url('../../images/Bg.png');
    height: 625px;
    background-size: contain;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginBox{
    width: 320px;
    height: 420px;
    background:#000;
    color: #fff;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 15px;
}
h1{
    margin: 0px;
    padding: 0px 0px 20px;
    font-size: 22px;
    color: #A4E5F7;
}
.loginBox p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type ="text"],input[type = "password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginBox input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: #A4E5F7;
    color: #000;
}
.loginBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.signUpGoogle{
    border: 0px;
    position: relative;
    top: 80px;
    border-radius: 30px;
    background: #fb2525;
    color: #fff;
    padding: 10px 52px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.signUp{
    border: 0px;
    position: relative;
    top: 80px;
    border-radius: 30px;
    background: #fb2525;
    color: #fff;
    padding: 10px 45px;
    margin-bottom: 10px;

}
